*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightblue;
    /* border: 2px solid blue; */
    padding: 10px;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px; */
    /* grid-template-columns: 50% 25% 25%; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: auto 50% auto; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 5%;
    row-gap: 5%; */
    /* gap: 5%; */
    /* grid-template-rows: 50px 100px 50px; */
    /* grid-template-rows: 1fr 2fr 3fr; */
    grid-template-rows: 1fr 2fr 3fr;
    /* height: 500px; */
    grid-auto-rows: 2fr;
}
.box{
    background-color: navy;
    border: 1px dotted white;
    padding: 10px;
    text-align: center;
    color: white;
}









