<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-on2</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="nuevaFruta">
        <button v-on:click=agregarFruta()>Clic para agregar fruta</button>
        <ul>
            <li v-for="fruta in frutas">
                {{ fruta.nombre }} - {{ fruta.cantidad }}
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    frutas: [
                        { nombre: "naranja", cantidad: 10 },
                        { nombre: "banana", cantidad: 0 },
                        { nombre: "durazno", cantidad: 3 }
                    ],
                    nuevaFruta: ''
                }
            },
            methods: {
                agregarFruta() {
                    this.frutas.push({ nombre: this.nuevaFruta, cantidad: 0 })
                }
            }
        }).mount('#app')
    </script>
</body>

</html>